
<div class="content" role="main">

    <h1 class="text-dark text-center font-italic" style="margin-bottom: 20px;">Digite o nome da cidade  que deseja o clima</h1>

    <form (ngSubmit)="onSubmit(checkoutForm.value)">
    
      <div class="form-group">
        <input id="name" type="text" formControlName="name" class="form-control form-control-lg">
     </div>
    
    
    
      <button class="button" type="submit" class="btn btn-primary form-control">Procurar</button>
    
    </form>
    
</div>